/* 

ALTERNATE HERO

*/

.portfolio__hero-wrapper {
    height: 930px;
    width: 1900px;
    margin: auto;
    padding: 3rem 6rem 4rem;
    perspective: 400px;
    overflow-x: hidden;
}

.portfolio__hero-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.801),
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 2rem 2.5rem;
    border-radius: 5rem;
    background:
        url("../../images/mount.jpg"),
        url("../../images/texture1.jpg"),
        radial-gradient(rgb(255, 189, 184), rgba(226, 149, 77, 0.87));
    background-blend-mode: hard-light;
    background-size: 200%;
    background-position: 1% 1%;
    transform: rotateX(1.5deg) rotateY(.25deg);
}

.portfolio__hero-top-row {
    display: flex;
    width: 100%;
    height: 60%;
}

.portfolio__hero-top-left {
    flex: .85;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.peter {
    z-index: 150;
    letter-spacing: -.05rem;
    color: #eee;
    text-shadow: 0px 0px .15rem rgb(87, 10, 10), 0px 0px 1rem black;
    transform: rotateX(5deg);
    font-size: 20rem;
    line-height: 12.5rem;
    position: relative;
    bottom: 0rem;
}

.portfolio__hero-top-right {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.phong-thanh {
    font-size: 5.85rem;
    margin-left: 0rem;
    margin-bottom: 1.95rem;
    color: rgba(105, 9, 9, 0.836);
    font-family: var(--secondary-font);
}

.portfolio__hero-bottom-row {
    display: flex;
    width: 100%;
    /* Control Height of 2 Rows*/
    height: 62.5%;
}

.portfolio__hero-bot-left {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    perspective: 500px;
    margin-bottom: 2rem;
}

.lantern-container {
    width: 550px;
    height: 710px;
    perspective: 400px;
    background-color: var(--black);
    transform: rotateX(2deg) rotateY(1deg);
    border-radius: 1rem;
}

.lantern {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(-5deg);
    background: url("../../images/industrial.jpg");
    background-size: cover;
    background-position: bottom;
    border-radius: 1rem;
}

.portfolio__hero-bot-right {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.nguyen {
    position: relative;
    color: rgb(245, 245, 245);
    letter-spacing: -.05rem;
    padding: .0rem 2rem;
    z-index: 100;
    font-size: 14.75rem;
    border-radius: 2.5rem;
    border: .35rem solid transparent;
    top: -1.5rem;
    box-shadow: 0px 0px 1rem rgba(49, 49, 49, 0.705);
    background:
        linear-gradient(rgb(31, 30, 35) 5%, rgb(31, 25, 30)) padding-box,
        linear-gradient(rgb(231, 198, 198) 10%, rgb(31, 25, 30)) border-box;
}

.people {
    font-size: 3rem;
    color: rgba(233, 233, 233, 0.918);
    position: absolute;
    right: 1rem;
    bottom: -1.5rem;
    letter-spacing: 1px;
    font-family: var(--street-font);
    text-shadow: 0px 0px 1rem rgb(124, 84, 72);
}


.scroll {
    position: absolute;
    bottom: 2rem;
    right: 0;
    left: 5rem;
    margin: 0 auto;
    text-align: center;
    max-width: 19rem;
    background-color: var(--black);
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .4rem;
    padding: .15rem .3rem;
    border-radius: .35rem;
    text-shadow: 0px 0px .5rem black;
    animation: flicker 3s infinite;
    font-size: 1.15rem
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 1;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.75;
    }
}


/*  */

.postit {
    position: absolute;
    width: 70px;
    height: 200px;
}

.postit--pink {
    background-color: rgb(248, 134, 214);
    box-shadow: 2px 3px 1px rgb(151, 76, 108);
    top: 0;
    right: 6rem;
}

.postit--yellow {
    top: 0;
    right: 13rem;
    background-color: rgb(247, 239, 169);
    box-shadow: 2px 3px 1px rgb(202, 187, 135);
}

.postit--yellow.second {
    right: 20.5rem;
}

.postit--pink>li {
    text-transform: lowercase;
    transform: rotate(90deg);
    margin-top: 1.5rem;
    margin-left: .15rem;
    font-size: 3rem;
    letter-spacing: -3px;
    color: rgb(32, 32, 32);
    perspective: 400px;
}

.postit--pink>li>a {
    font-family: var(--thin-font);
    color: rgb(28, 28, 29);
    font-weight: bold;
}

.postit--pink>li>a:hover {
    color: rgb(121, 15, 103);
}

.front-end {
    position: absolute;
    z-index: 200;
    color: rgb(219, 152, 152);
    text-shadow: 0px 0px 1rem rgb(182, 38, 74), 0px 0px 5px black;
    font-size: 3.9rem;
    bottom: 4.75rem;
    left: 7.5vw;
    margin: 0 auto;
    font-family: var(--marker-font);
    transform: skewX(-15deg);
}

@media screen and (max-width: 1900px) {
    .portfolio__hero-wrapper {
        width: 100%;
    }
}

@media screen and (max-width:1600px) {
    .portfolio__hero-wrapper {
        padding: 1rem 2rem 4rem;
        margin: none;
    }

    .portfolio__hero-top-row {
        height: 45%;
    }

    .portfolio__hero-bottom-row {
        height: 55%;
    }

    .portfolio__hero-bot-right {
        flex: 1.5;
    }

    .front-end {
        margin-right: 4rem;
    }

    .scroll {
        bottom: 1rem;
        left: calc(12vw);
        margin: 0;
    }

    .peter {
        font-size: 14vw;
    }

    .nguyen {
        font-size: 11vw;
    }

    .lantern-container {
        width: 34vw;
    }

    .people {
        font-size: 2rem;
    }
}

@media screen and (max-width:1200px) {
    .portfolio__hero-top-left {
        flex: 1;
    }

    .peter {
        line-height: 13rem;
    }

    .portfolio__hero-bot-right {
        flex: 2.5;
    }

    .nguyen {
        position: absolute;
        top: -3.15rem;
        margin: 0;
    }

    .lantern-container {
        width: 45vw;
        position: absolute;
        left: calc(2vw);
    }

    .phong-thanh {
        visibility: hidden;
    }
}

@media screen and (max-width:1150px) {
    .front-end {
        z-index: 300;
        transform: rotateZ(90deg);
        left: -33rem;
        top: 0rem;
        margin-top: 7rem;
        font-size: 3.15rem;
    }

    .portfolio__hero-container {
        background-size: cover;
    }

    .scroll {
        bottom: 5rem;
        left: 9rem;
    }

    .portfolio__hero-bot-left {
        flex: .25;
    }

    .nguyen {
        margin-top: 1.5rem;
        margin-left: 7.5rem;
    }

    .postit {
        height: 150px;
    }

    .postit--pink>li {
        font-size: 2.35rem;
    }

}

@media screen and (max-width:700px) {
    .nguyen {
        margin: 0;
        font-size: 14vw;
        padding: 0 0.5rem;
    }

    .peter {
        font-size: 16vw;
    }

    .lantern-container {
        visibility: hidden;
    }

    .scroll {
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    .front-end {
        visibility: hidden;
    }

    .postit--yellow.second {
        visibility: hidden;
    }

    .portfolio__hero-container {
        padding: 2rem .75rem;
    }

    .people {
        right: 2rem;
    }
}

@media (max-width:550px) {
    .portfolio__hero-wrapper {
        padding: .5rem .15rem;
    }

    .portfolio__hero-container {
        transform: none;
    }

    .peter {
        font-size: 21vw;
        right: 0;
        left: 1rem;
    }

    .nguyen {
        font-size: 21vw;
        top: -3rem;
    }

    .postit {
        transform: rotateZ(270deg);
        left: 2.7rem;
        right: 0;
    }

    .postit--pink {
        top: 3rem;
    }

    .postit--yellow {
        top: 8rem;
    }

    .scroll {
        bottom: 9rem;
    }

    .people {
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0rem;
    }
}

@media (max-width: 300px) {

    .postit,
    .scroll,
    .people {
        visibility: hidden;
    }

    .peter,
    .nguyen {
        transform: rotateZ(270deg);
    }
}

/*

ABOUT SECTION

*/

.portfolio__content-wrapper {
    margin: 5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: 400px;
}

.portfolio__content-container {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    transform: rotateX(.5deg);
    padding: 5rem 6rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.801),
        0px 2px 4px rgba(0, 0, 0, 0.1),
        0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.portfolio__content-container>h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--black);
}

.portfolio__about-info-wrapper {
    position: relative;
}

.portfolio__about-info-container {
    transform: rotateX(2deg);
    box-shadow: 0px 2px .5rem rgba(82, 82, 82, 0.253);
}

.portfolio__about-info-container.main {
    width: 100%;
    display: flex;
    margin-bottom: 3rem;
    background: radial-gradient(circle, rgba(65, 55, 53, 1) 0%, rgba(13, 12, 12, 1) 100%);
}

.portfolio__about-info-container.background {
    width: 100%;
    position: absolute;
    transform: rotateZ(1deg);
    background-color: rgb(199, 199, 199);
}

.portfolio__about-info-container.second-background {
    width: 100%;
    position: absolute;
    transform: rotateZ(-.5deg);
    background-color: rgb(53, 53, 53);
}

.portfolio__about-social-container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 .75rem;
    row-gap: 1rem;
}

.portfolio__about-social-container a {
    color: rgba(255, 255, 255, 0.849);
    filter: drop-shadow(0px 0px .15rem rgb(14, 13, 13));
    border-radius: 10rem;
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    transition: all .15s;
}

.portfolio__about-social-container a:hover {
    transform: scale(1.1);
    color: rgba(218, 139, 49, 0.945);
}

.portfolio__about-info-halves.pic-wrapper {
    flex: .9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.5rem 0;
    background: url("../../images/blackbeigedragon.jpg"), url("../../images/lights.jpg");
    background-blend-mode: hard-light;
    background-size: cover;
    background-position: 0% 90%;
    transform: rotateZ(-1.25deg);
    background-blend-mode: overlay;
    background-color: rgb(70, 64, 59);

}

.portfolio__about-info-halves.pic-container {
    display: flex;
    align-items: center;

}

.portfolio__about-info-halves.pic-container img {
    height: 15rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 2rem;
}

.portfolio__about-info-halves.info {
    flex: 2.25;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 0.979) 100%);
}


.portfolio__about-info-halves.info>h2 {
    color: var(--black);
    font-weight: lighter;
    font-size: 1.75rem;
    text-transform: lowercase;
    text-indent: 1.75rem;
    margin: .75rem 0 0rem 0;
}

.portfolio__about-info.details {
    padding: .5rem 2rem 2rem 2rem;
}

.portfolio__about-info.details>p {
    line-height: 1.5;
    font-family: arial;
    font-weight: lighter;
    text-indent: 1rem;
}

.portfolio__about-info.details>p:first-child {
    margin-bottom: .5rem;
}

.portfolio__about-info.facts {
    height: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: -0rem -.15rem 1rem rgba(0, 0, 0, 0.274);
}

.html {
    background-color: rgb(255, 115, 0);
    padding: .05rem .15rem;
    margin-left: .15rem;
}

.css {
    background-color: rgb(91, 149, 224);
    padding: .05rem .15rem;
}

.js {
    background-color: rgb(247, 231, 18);
    padding: .05rem .15rem;
}

.react {
    background-color: rgb(114, 224, 228);
    padding: .05rem .15rem;
}

.typescript {
    background-color: #234d79dc;
    padding: .05rem .15rem;
    color: rgb(17, 17, 17);
}

.java {
    background-color: #eb0b0bcc;
    padding: .05rem .15rem;
}

.portfolio__about-info.milestones {
    margin-left: 2.5rem;
    transform: rotateZ(.05deg);
    position: relative;
    display: flex;

    /* Control height of milestones content - jank af */
    height: 70%;
}

/* Milestones */
.portfolio__about-info.milestones>h3 {
    color: var(--black);
    background-color: var(--red);
    border: 1px solid rgb(187, 62, 62);
    transform: rotateZ(-1deg);
    box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.349);
    font-weight: lighter;
    display: inline-flex;
    position: absolute;
    top: -3.15rem;
    left: -.75rem;
    padding: .15rem .5rem;
}

/* More */
.portfolio__about-info.milestones>h4 {
    padding: .15rem .5rem;
    background-color: var(--red);
    background-color: rgb(27, 27, 27);
    color: rgba(243, 152, 16, 0.945);
    box-shadow: 0px 0px .5rem rgba(20, 20, 20, 0.473);
    letter-spacing: .5px;
    font-weight: normal;
    position: absolute;
    top: -2.9rem;
    left: 6.5rem;
    font-size: 1.05rem;
    cursor: pointer;
    transition: all .15s;
    user-select: none;
}

.portfolio__about-info.milestones>h4:hover {
    box-shadow: 0px 0px 1rem rgb(214, 24, 24);
}

.portfolio__about-info.milestones>h4:active {
    box-shadow: 0px 0px 1rem rgb(167, 21, 21);
    transform: scale(.95);
}

.portfolio__about-info.milestones ul {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}

.portfolio__about-info.milestones li {
    text-indent: .15rem;
    letter-spacing: .5px;
    color: rgba(243, 152, 16, 0.945);
    transition: all .15s;
    border-radius: .25em;
    padding: 0 .15rem;
}


.portfolio__about-info.books {
    background-color: rgb(255, 246, 163);
    position: absolute;
    bottom: -3.5rem;
    right: .5rem;
    transform: rotateZ(-2deg);
    border: 1px solid rgba(230, 208, 15, 0.164);
    text-align: center;
    font-size: .9rem;
    padding-top: 1rem;
    width: 440px;
    height: 255px;
}

.portfolio__about-info.books.background {
    position: absolute;
    background-color: rgb(241, 234, 163);
    transform: rotateZ(1deg);
    width: 440px;
    height: 255px;
}

.cssInDepth::after {
    content: " ✓";
    color: rgb(2, 110, 2);
    font-size: 1rem;
}

.headfirst::after {
    content: " ✓";
    color: rgb(2, 110, 2);
    font-size: 1rem;
}

.dontKnow::after {
    content: " —";
    color: rgb(214, 115, 34);
    font-size: 1rem;
}

.reactQuickly::after {
    content: " ✓";
    color: rgb(2, 110, 2);
    font-size: 1rem;
}

.design::after {
    content: " ✓";
    color: rgb(2, 110, 2);
    font-size: 1rem;
}

.artOf::after {
    content: " —";
    color: rgb(214, 115, 34);
    font-size: 1rem;
}

.portfolio__about-info.books>h3 {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.945);
    margin-bottom: .75rem;
}

.portfolio__about-info.books>ul {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    color: rgba(0, 0, 0, 0.904);
}

/* Next Arrow */
.portfolio__about-info.books>svg {
    position: absolute;
    right: .5rem;
    bottom: .25rem;
    font-size: 1.75rem;
    border-radius: 50rem;
    border: 2px solid transparent;
    box-sizing: content-box;
    color: rgba(0, 0, 0, 0.750);
    z-index: 100;
    transition: all .15s;
    padding: 1px;
    outline: 4px solid transparent;
}

.portfolio__about-info.books>svg:hover {
    cursor: pointer;
    outline-color: rgb(212, 59, 59);
    color: rgba(0, 0, 0, 1);
}

.portfolio__about-info.books>svg:active {
    outline-color: rgba(173, 49, 49);
    transform: scale(.95);
}

@media (max-width: 1650px) {
    .portfolio__content-wrapper {
        margin: 5rem 2rem 0;
    }

    .portfolio__about-info-container.main {
        margin-bottom: 3rem;
    }

    .portfolio__about-info-container.background,
    .portfolio__about-info-container.second-background {
        height: 300px;
    }

    .portfolio__about-info.books,
    .portfolio__about-info.books.background {
        width: 300px;
        height: 300px;
    }

    .portfolio__about-info.books ul {
        padding: 0 2rem;
    }

    .portfolio__about-info-halves.pic-wrapper {
        padding: 8rem 0;
    }
}

@media (max-width: 1350px) {
    .portfolio__about-info.details>p {
        line-height: 1.75;
    }

    .portfolio__about-info-halves.pic-container {
        transform: rotateZ(.75deg);
    }

    .portfolio__about-social-container {
        margin-top: .5rem;
        order: 2;
    }

    .portfolio__about-social-container ul {
        gap: .75rem;
        flex-direction: row;
    }

    .portfolio__about-info-container.main {
        flex-direction: column;
        align-items: center;
    }

    .portfolio__about-info-container.background,
    .portfolio__about-info-container.second-background {
        display: none;
    }

    .portfolio__about-info.milestones {
        height: 14rem;
    }

    .portfolio__about-info.milestones {
        padding: 2rem 0;
    }

    .portfolio__about-info.milestones h3 {
        top: -1rem;
    }

    .portfolio__about-info.milestones>h4 {
        top: -.7rem;
    }

    .portfolio__about-info.books {
        bottom: -5rem;
        right: 1rem;
        width: 300px;
        height: 300px;
    }

    .portfolio__about-info.books.background {
        width: 300px;
        height: 300px;
    }

    .portfolio__about-info-halves.pic-wrapper {
        width: 97.5%;
        padding: 4.5rem 0;
        transform: rotateZ(-.75deg);
    }

    .portfolio__about-info-halves.pic-container {
        flex-direction: column;
    }

    .portfolio__about-info-halves.pic-container>img {
        height: 15.5rem;
        width: 13.5rem;
        order: 1;
    }
}

@media screen and (max-width: 1050px) {
    .portfolio__about-info-wrapper {
        margin-bottom: 5rem;
    }

    .portfolio__content-container {
        padding: 3rem;
    }

    .portfolio__about-info.books {
        bottom: -9.5rem;
        right: 0rem;
        width: 255px;
        height: 370px;
    }

    .portfolio__about-info.books.background {
        width: 225px;
        height: 370px;
    }

    .portfolio__about-info.books ul {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 850px) {

    .portfolio__about-info.books.background,
    .portfolio__about-info.books {
        display: none;
    }
}


@media screen and (max-width: 650px) {

    .portfolio__about-info-halves.pic-container>img,
    .portfolio__about-social-container {
        transform: rotateZ(.75deg);
    }

    .portfolio__about-info-halves.pic-container>img {
        height: 13.5rem;
        width: 11.5rem;
    }

    .portfolio__content-container {
        transform: rotateX(0deg);
    }

    .portfolio__content-wrapper {
        margin: 5rem 1rem 0;
    }

    .portfolio__content-container {
        padding: 2rem 1.5rem;
    }

    .portfolio__about-info-wrapper {
        margin-top: 1rem;
    }

    .portfolio__about-info.milestones {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .portfolio__content-wrapper {
        margin: 5rem .15rem 0;
    }

    .portfolio__content-container {
        padding: 5rem 1rem;
        border-radius: 2rem;
    }
}

/* 

PROJECTS

*/

.portfolio__projects-header {
    display: flex;
    column-gap: 1rem;
    user-select: none;
    margin: 1rem 0;
}

.portfolio__projects-header>h2 {
    cursor: pointer;
}

.portfolio__projects-header>h2:first-child {
    font-size: 3rem;
    letter-spacing: 3px;
    cursor: default;
}

.portfolio__projects-header>h2:first-child::after {
    content: " - ";
}

/* Toggle button */
.portfolio__projects-header>h2:last-child {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    background-color: rgb(39, 39, 39);
    color: rgb(250, 250, 250);
    font-weight: normal;
    border-radius: 2rem;
    letter-spacing: 1.5px;
    box-shadow: 0px 0px .5rem rgba(34, 34, 34, 0.25);
    transition: all .15s;
}

.portfolio__projects-header>h2:last-child:hover {
    filter: brightness(.8);
}

.portfolio__projects-header>h2:last-child:active {
    filter: brightness(.5);
    transform: scale(.975);
}

/* Side Projects */
.portfolio__sideprojects-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;

}

@media screen and (max-width: 1650px) {
    .portfolio__sideprojects-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1350px) {
    .portfolio__sideprojects-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.portfolio__sideprojects-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 2rem;
    height: 30rem;
    background-color: rgb(19, 15, 15);
    border: 2px solid grey;
    border-radius: 2px;
}

.portfolio__sideprojects-card * {
    color: rgb(233, 233, 233);
}

.portfolio__sideprojects-card :is(h2, p) {
    text-shadow: 1px 1px 3px black;
    line-height: 1.5;
}

.portfolio__sideprojects-card p:nth-child(3) {
    filter: brightness(.7);
}

.portfolio__sideprojects-card>h2 {
    letter-spacing: .5px;
}

.portfolio__sideprojects-card-btns {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.portfolio__sideprojects-card-btns>a {
    cursor: pointer;
    padding: .5rem 1rem;
    box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.473);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--red);
    text-shadow: 0px 0px .2rem rgb(82, 82, 82);
}

.portfolio__sideprojects-card-btns>a:hover {
    filter: brightness(.95);
}

.portfolio__sideprojects-card-btns>a:active {
    transform: scale(.95);
}

/* FakeOS */
.portfolio__sideprojects-card.fakeos {
    background: url("../../images/sideprojects/fakeos/fakeos.png");
    background-position: left bottom;
    background-repeat: no-repeat;
}

.portfolio__sideprojects-card-btns.fakeos>a {
    background-color: rgb(146, 194, 118);
}

/* Morse */
.portfolio__sideprojects-card.morse {
    background: url("../../images/sideprojects/morse/morse.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio__sideprojects-card.morse :is(h2, p) {
    color: rgb(218, 218, 218);
}

.portfolio__sideprojects-card-btns.morse>a {
    background-color: rgb(71, 77, 100);
}


/* Projects Card Container - Selected Works */
.portfolio__project-card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    perspective: 400px;
    perspective-origin: bottom;
}

.portfolio__project-card {
    margin-top: 3rem;
    position: relative;
}

.portfolio__project-image-container {
    position: relative;
    transition: all .15s;
    height: 400px;
    border: 2px solid #22283162;
    background-position: 50% 60%;
    background-size: 100%;
    overflow: hidden;
}

/* Music Container */
.portfolio__project-image-container>a {
    perspective: 100px;
}

.image {
    position: absolute;
    box-shadow: 0px 0px 1rem rgba(49, 49, 49, 0.363);
    transition: all .15s;
}

/* Popular */
.--film-zero {
    right: 10rem;
    bottom: -35rem;
    transform: rotateZ(20deg);
    z-index: 120;
    box-shadow: 0px -.5rem 1rem rgba(10, 10, 10, 0.13);
}

/* Trailer */
.--film-one {
    bottom: -5rem;
    transform: rotateZ(-10deg);
    z-index: 110;
    left: -30rem;
    bottom: -2rem;
}

/* Movie Info */
.--film-two {
    bottom: -4rem;
    right: -1rem;
    z-index: 120;
    transform: rotateZ(1deg);
}

/* OnFilm */
.--film-three {
    top: 2rem;
    bottom: 0;
    left: 3rem;
    z-index: 130;
    box-shadow: 0px 0px 2rem rgba(24, 24, 24, 0.842);
    transform: rotateZ(-7.5deg) scale(1.25);
}

/* Search */
.--music-zero {
    bottom: -7rem;
    left: -10rem;
    z-index: 110;
    transform: rotateZ(-5deg);
}

/* Playlist */
.--music-one {
    bottom: -3rem;
    right: 20rem;
    z-index: 90;
    transform: rotateZ(3deg);
}

/* Lyrics (Beyonce) */
.--music-two {
    transform: scale(1.1);
    top: 0rem;
    right: 0rem;
}

/* Lyrics (Vince Staples) */
.--music-three {
    transform: scale(1.1) rotateZ(-10deg);
    top: -2rem;
    left: 20.5rem;
    bottom: -5rem;
    z-index: 100;
}

/* E-Oke */
.--music-four {
    top: 3rem;
    left: 35%;
    transform: scale(1) rotateY(1.5deg);
    box-shadow: 0 0 1rem rgba(32, 32, 32, 0.979);
    z-index: 200;
}

/* About */
.--machina-zero {
    right: 0;
}


/* Project Cards */
.--machina-one {
    z-index: 110;
    top: 5rem;
    right: -5rem;
    transform: rotateZ(15deg);
}

/* Machina Title */
.--machina-two {
    z-index: 120;
    right: 5rem;
    top: 2rem;
    transform: rotateZ(-4deg);
}

/* Machina Hero */
.--machina-three {
    top: -2rem;
    left: -3rem;
    z-index: 100;
}

.portfolio__project-card.music {
    background-color: rgb(71, 40, 64);
}

.musicnote {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10rem;
    margin: 0 auto;
    font-size: 10rem;
    color: white;
    filter: drop-shadow(0px 0px 1rem rgba(255, 255, 255, 0.24));
}

.portfolio__project-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
    width: 350px;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 200;
    font-size: 1rem;
}

/* Movie Postit */
.portfolio__project-details.movie {
    background: rgb(194, 97, 186);
    border-right: 1px solid rgba(134, 47, 127, 0.158);
    border-top: 1px solid rgba(134, 47, 127, 0.158);
    bottom: -4rem;
    left: 5rem;
    transform: rotateZ(3deg);
}

.portfolio__project-details.movie h2 {
    text-shadow: 0px 0px 2rem rgb(226, 179, 226);
}

.portfolio__project-details.movie.background {
    transform: rotateZ(.5deg);
    height: 190px;
    background: rgb(155, 78, 148);
    box-shadow: 2px 2px 16px rgb(80, 80, 80);
}

.portfolio__project-details.movie h2 {
    letter-spacing: 1px;
}

.portfolio__project-details.movie>a:hover {
    background-color: rgb(161, 77, 154);
    color: pink;
}

/* Music Postit */
.portfolio__project-details.music {
    background: rgb(71, 224, 41);
    border-right: 1px solid rgba(134, 47, 127, 0.158);
    border-top: 1px solid rgba(134, 47, 127, 0.158);
    bottom: -2.15rem;
    right: 2rem;
    transform: rotateZ(-5deg);
    box-shadow: 0 0 1rem rgb(43, 42, 42);
}

.portfolio__project-details.music.background {
    transform: rotateZ(2deg);
    height: 220px;
    background: rgb(35, 151, 31);
    box-shadow: 2px 2px 5px rgb(63, 63, 63);
}

.portfolio__project-details.music>a:last-child {
    opacity: 1;
}

.portfolio__project-details.music>a:hover {
    background-color: rgb(41, 151, 31);
    color: rgb(192, 255, 195);
}

.portfolio__project-details.machina>a:hover {
    background-color: rgb(156, 83, 15);
    color: rgb(235, 226, 152);

}

/* Machina Postit */
.portfolio__project-details.machina {
    background-color: orange;
}

.portfolio__project-details.machina.background {
    background-color: rgb(233, 131, 6);
    transform: rotateZ(3deg);
    height: 207px;
}

.portfolio__project-details.machina,
.portfolio__project-details.machina.background {
    bottom: -2rem;
    left: 1rem;
}

/* General Details */

.portfolio__project-details a {
    display: inline-block;
    color: black;
}

.portfolio__project-details *+* {
    margin-top: .75rem;
}

.portfolio__project-details-title {
    letter-spacing: -0.025em;
    font-weight: lighter;
    /*border-bottom: 1px solid rgba(75, 72, 72, 0.144);*/
}

.portfolio__project-details>p {
    font-family: arial;
}

.portfolio__project-details>a {
    display: inline-flex;
    align-items: center;
    column-gap: .25em;
    font-family: arial;
    font-weight: light;
    transition: all .125s;
    padding: .15rem;
}

@media screen and (max-width: 1650px) {

    /* Popular */
    .--film-zero {
        right: 10rem;
        bottom: -22rem;
        transform: rotateZ(15deg);
    }

    /* Trailer */
    .--film-one {
        bottom: 8rem;
        transform: rotateZ(2deg);
        left: -10rem;
    }

    /* Movie Info */
    .--film-two {
        bottom: 0rem;
        right: -15rem;
        transform: rotateZ(1deg);
    }
}

@media screen and (max-width: 1350px) {
    .portfolio__about-info-container.main {
        margin-bottom: 5rem;
    }

    .portfolio__project-image-container {
        height: 500px;
    }

    /* Popular */
    .--film-zero {
        right: 7rem;
        bottom: -3rem;
        transform: rotateZ(20deg);
    }

    /* Trailer */
    .--film-one {
        bottom: 18rem;
        left: -10rem;
    }

    /* Movie Info */
    .--film-two {
        bottom: 0rem;
        right: -15rem;
        transform: rotateZ(1deg);
    }

    /* Machina About */
    .--machina-zero {
        left: 0;
        transform: scale(2);
    }

    /* Machina Card */
    .--machina-two {
        right: -15rem;
        top: 15rem;
    }

    /* Machina Hero */
    .--machina-four {
        top: 20rem;
        transform: rotateZ(-10deg) scale(2);
    }

    .portfolio__project-details.movie {
        left: 1rem;
    }

    .portfolio__project-image-container h2 {
        top: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .portfolio__about-info-container.main {
        margin-bottom: 1rem;
    }

    /* E-Oke */
    .--music-four {
        left: 10%;
    }

    /* Popular */
    .--film-zero {
        right: 7rem;
        bottom: 3rem;
        transform: rotateZ(10deg);
    }
}

@media screen and (max-width: 650px) {

    /* E-Oke */
    .--music-four {
        top: 1rem;
        left: 1rem;
    }

    /* Vince Staples */
    .--music-three {
        transform: scale(1.2) rotateZ(22deg);
        top: 10rem;
        left: 2rem;
    }

    /* Beyonce */
    .--music-two {
        bottom: 0;
    }

    /* Popular */
    .--film-zero {
        right: 7rem;
        bottom: 5rem;
        transform: rotateZ(20deg) scale(1.5);
    }

    /* Trailer */
    .--film-one {
        bottom: 17rem;
        left: -10rem;
        transform: rotateZ(-2deg) scale(2);
    }

    /* Movie Info */
    .--film-two {
        bottom: -3rem;
        right: -10rem;
        transform: rotateZ(10deg) scale(1.25);
    }

}

@media screen and (max-width: 500px) {
    .portfolio__project-details.movie {
        width: 250px;
        bottom: -7rem;
        left: .5rem;
        font-size: .9rem;
    }

    .portfolio__project-details.music {
        width: 250px;
    }

    .portfolio__project-details.machina {
        width: 250px;
    }

    .portfolio__project-card {
        margin-bottom: 3rem;
    }

    /* Playlist */
    .--music-zero {
        transform: scale(1.2) rotateZ(-35deg);
        left: -10rem;
    }

    /* Beyonce */
    .--music-two {
        transform: scale(1.5);
    }

    /* Machina About */

    .--machina-zero {
        transform: scale(3.0);
    }

    /* Machina Title */
    .--machina-three {
        right: 2rem;
    }

    /* Machina Hero */
    .--machina-four {
        top: 15rem;
        transform: rotateZ(-10deg) scale(2);
    }
}

@media screen and (max-width: 400px) {
    .portfolio__project-details.movie {
        width: 200px;
        bottom: -5rem;
        left: .5rem;
        font-size: .8rem;
    }

    .portfolio__project-details.music {
        width: 200px;
    }

    .portfolio__project-details.machina {
        left: 0;
    }

    .portfolio__project-details.machina.background {
        left: 0;
    }

    .--film-zero {
        right: 7rem;
        bottom: 5rem;
        transform: rotateZ(20deg) scale(3);
    }

    /* Trailer */
    .--film-one {
        bottom: 17rem;
        left: -10rem;
        transform: rotateZ(-2deg) scale(3);
    }

    /* Movie Info */
    .--film-two {
        bottom: -3rem;
        right: -12rem;
        transform: rotateZ(10deg) scale(2);
    }

    /* Machina Title */
    .--machina-three {
        right: 0rem;
    }
}

/* 

FOOTER

*/

.portfolio__footer-container {
    padding: 4rem 10rem 2.5rem;
}

.portfolio__footer-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__footer-container li {
    color: var(--black);
}

.portfolio__footer-container li>a {
    color: var(--black);
}

.portfolio__footer-container li>a:hover {
    color: var(--black);
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .portfolio__footer-container {
        padding: 4rem 2rem 2.5rem;
    }
}