:root {
  font-size: 1rem;
  font-family: var(--body), Arial, Helvetica, sans-serif;
}

html {
  --primary-font: 'Anton', Arial, Helvetica, sans-serif;
  --secondary-font: 'Dancing Script', Arial, Helvetica, cursive;
  --marker-font: 'Permanent Marker', Arial, Helvetica, cursive;
  --street-font: 'Shadows Into Light', Arial, Helvetica, cursive;
  --thin-font: 'Kalam', Arial, Helvetica, cursive;
  --grey: rgb(107, 97, 97);
  --lightgrey: rgb(206, 199, 199);
  --darkgrey: rgb(61, 61, 61);
  --black: rgb(26, 23, 23);
  --red: rgb(216, 58, 52);
  --darkred: rgb(83, 39, 39);
  background-color: #eee;
}

body {
  background-image: radial-gradient(#aaaaaa 1px, transparent 0),
    radial-gradient(#aaaaaa 1px, transparent 0);
  background-color: #eee;
  background-position: 0 0, 35px 35px;
  background-size: 70px 70px;
}


*,
*::before,
*::after {
  font-family: var(--primary-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: .9rem;
  height: .9rem;
}

::-webkit-scrollbar {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: silver;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

h2 {
  color: #0F0E0E;
}

img {
  max-width: 100%;
}

::selection {
  color: white;
  background-color: rgba(67, 58, 124, 0.877);
}

/* Determine what sections need section__padding and section__margin */
.section__padding {
  padding: 5rem 12rem;
}

.section__margin {
  margin: 5rem 12rem;
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

/* Make an ellipses that truncates overflow for blog preview */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-lineclamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.padding {
  padding-right: 10rem;
  padding-left: 10rem;
}

.margin {
  margin-right: 10rem;
  margin-left: 10rem;
}

@media screen and (max-width: 1500px) {
  .padding {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .margin {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}


@media screen and (max-width: 1000px) {
  .padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .margin {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .padding {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .margin {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}